<%= form_for :vopros, url:tests_path do |f| %>
	<p>
		<%= t 'num-test'%><br>
		<%= f.text_field :nt %>
	</p>	

	<p>
		<%= t 'num-question'%><br>
		<%= f.text_field :nv %>
	</p>	

	<p>
		<%= t 'question'%><br>
		<%= f.text_field :vop %>
	</p>

	<p>
		<%= t 'ans'%><br>
		<%= f.text_field :otv %>
	</p>	

	<p>
	<%= f.submit "Создать вопрос" %>
	</p>
<% end %>

<a href="/deltest">Очистить тесты</a>